<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1" android:versionName="1">
	<supports-screens android:requiresSmallestWidthDp="720" />
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="IBU Mobile" android:icon="@drawable/icon"></application>
</manifest>